<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href ='/css/main.css'>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp" crossorigin="anonymous">
    <title>Add Product</title>
</head>

<body>
<div class="jumbotron">
    <header>
        <h1>Oops...!</h1>
        <h2>Nothing to see here</h2>
        <h3>
            <small class="text-muted">Quick steeps</small>
        </h3>
    </header>

    <main>
        <p class="lead">Try to reload the page( Ctrl+F5)</p>
        <p class="lead">Check, if the url address is appropriate</p>
        <p class="lead">Refer to home page address</p>
    </main>
</div>

</body>

</html>