extends layouts/main-layout

block content
    .jumbotron
         h1.main__head Oops...! Nothing to see here
         h2
             small.text-muted Quick steeps
         p.lead Try to reload the page( Ctrl+F5)
         p.lead Check, if the url address is appropriate
         p.lead Refer to home page address